/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f9f4;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a572a;
    color: white;
    padding: 20px 30px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: montserrat;
}

header .nav-content{
    font-size: 18px;
    font-weight: bold;
    font-family: open sans;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
}

.welcome-section {
    text-align: center;
    margin-bottom: 40px;
    font-family: "vintage burford";
    font-size: 22px;
    padding: 40px 20px;
    background: url('../images/background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    height: 400px;
}

.menu-section {
    background-color: #e8f5e8;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    justify-content: center;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.judul-menu{
    text-align: center;
    font-size: 35px;
}

.menu-item {
    width: 200px;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    
    
}

.menu-item img{
    max-height: 210px;
}

.menu-item a{
    width: 50px;
    margin: 15px;
    padding: 10px 18px;
    border: 1px solid #110101;
    border-radius: 8px;
    text-align: center;
    background-color: #2a572a;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: open sans;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


/* Feedback Section */
.feedback-section {
    background-color: #f1f9f1;
    padding: 20px;
    border-radius: 8px;
}
.kritik {
    text-align: center;
}

.feedback-section form {
    max-width: 400px;
    margin: 0 auto;
}

.feedback-section label {
    display: block;
    margin-bottom: 8px;
}

.feedback-section input, 
.feedback-section textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedback-section button {
    padding: 10px 20px;
    background-color: #2a572a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.feedback-section button:hover {
    background-color: #3c803c;
}

/* Footer */
footer {
    text-align: center;
    background-color: #2a572a;
    color: white;
    padding: 20px;
}
#contact p a img{
    width: 20px;
  
}

#contact p {
    justify-content: center;
}